/******************************************************
GENERAL
******************************************************/
/*COLORS
Primary Dark = #1B2355
Pimary Light = #A0CCE3
Secondary Dark = #F66464
Secondary Light = #E79294
Tertiary Dark = #8A859B
Tertiary Mid = #BAC0BA
Tertiary Light = #E8ECEF

FONTS
font-family: 'Contrail One', cursive;
font-family: 'Work Sans', sans-serif;
 */

@media only screen and (min-width: 300px) {

* {
  box-sizing: border-box
}

body {
  font-family: "Work Sans", sans-serif;
}
h1 {
  font-family: sans-serif;
}
p {
  text-align: justify;
}
i {
  float: right;
  margin-right: 10%;
}

/******************************************************
NAVIGATION
******************************************************/
nav {
  background-color: #1b2355;
}

nav h1,
nav a,
nav a:visited {
  color: #e8ecef;
}

nav a {
  text-decoration: none;
}

nav h1 {
  display: inline-block;
  margin: 20px;
  font-size: 30px;
}

nav ul {
  background-color: #1b2355;
  padding: 0;
  text-align: center;
  font-size: 0;
}

nav ul li {
  display: inline-block;
  width: 19vw;
  font-size: 1rem;
  margin: 5px auto;
  border-right: 1px solid #e79294;
}

nav ul li:first-of-type {
  margin-left: 2.5vw;
}

nav ul li:last-of-type {
  border-right: 0;
}

article {
  display: block;
}

/******************************************************
HOME
******************************************************/
#home {
  /*border: 1px solid red;*/
  text-align: center;
  background: url(https://media.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif);
  background-size: cover;
  filter: invert(100%);
}

#home header {
  position: relative;
  top: 0%;
  background-color: rgba(160, 204, 227, 0.5);
  color: #e8ecef;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b2355+0,1b2355+100&0+0,0.7+16,1+52,0.7+85,0+100 */
  background: -moz-linear-gradient(
    left,
    rgba(27, 35, 85, 0) 0%,
    rgba(27, 35, 85, 0.7) 16%,
    rgba(27, 35, 85, 1) 52%,
    rgba(27, 35, 85, 0.7) 85%,
    rgba(27, 35, 85, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(27, 35, 85, 0) 0%,
    rgba(27, 35, 85, 0.7) 16%,
    rgba(27, 35, 85, 1) 52%,
    rgba(27, 35, 85, 0.7) 85%,
    rgba(27, 35, 85, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(27, 35, 85, 0) 0%,
    rgba(27, 35, 85, 0.7) 16%,
    rgba(27, 35, 85, 1) 52%,
    rgba(27, 35, 85, 0.7) 85%,
    rgba(27, 35, 85, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001b2355', endColorstr='#001b2355',GradientType=1 ); /* IE6-9 */
  padding: 5px 0;
}

.profile-pic {
  height: auto;
  width: 25%;
  margin-left: .5em;
  filter: invert(100%);
  border-radius: 2%;
  border: 2.25px solid black;
  margin-top: .5em;
  box-shadow: #000 1px 0.5px 30px -5px;
}

/******************************************************
MAIN (#about-me)
******************************************************/
#about {
  padding: 1.5em 4.75em 1.5em 4.75em;
  font-family: sans-serif;
  font-size: 1em;
  margin-left: 5em;
  margin-bottom: 3em;
}

.work li {
  padding: 1em;
  margin: 1em;
  list-style:circle;
  font-size: 1.2em;
}
/******************************************************
PROJECTS
******************************************************/
#projects {
  padding-top: 10px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #000;
}
#projects header {
  padding: 0 10%;
}
#projects p {
  text-align: center;
  padding: 0 3em;
}

div.portfolio-img {
  height: 20vh;
  background-size: cover;
  background-position: center 15%;
}

section#projects > div {
  padding: 10px 0 10px 0;
}

section#projects > div:nth-child(odd) {
  background-color: #e8ecef;
}

section#projects > div:nth-child(even) {
  background-color: #bac0ba;
}

div.iron-man {
  width: 60%;
  margin: 0 auto;
  background-image: url(./images/IronMan.jpg);
}

.phoenix {
  width: 60%;
  margin: 0 auto;
  background-image: url(./images/Phoenix.jpg);
}

.storm {
  width: 60%;
  margin: 0 auto;
  background-image: url(./images/Storm.jpg);
}

.gambit {
  width: 60%;
  margin: 0 auto;
  background-image: url(./images/Gambit.jpg);
}

/******************************************************
RESUME
******************************************************/
#resume {
  padding-top: 10px;
  color: white;
  padding-right: 10vw;
}

.resume-skills {
  display: flex;
  justify-content: center;
  margin-left: 5em;
}

*:before,
*:after {
  content: "";
}

/******************************************************
FOOTER
******************************************************/
footer {
  padding: 1em;
  background-color: rgb(24, 24, 24);
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

footer span {
  margin-right: -1em;
}

footer span i {
  float: none;
  margin-top: 1em;
  margin-left: 2px;
  font-size: 2em;
  color: white;
}

/******************************************************
CONTACT AND MEDIA
******************************************************/
#contact {
  background-color: #a0cce3;
  padding: 15px 5px;
}

#contact header h2 {
  text-align: center;
  margin-top: 2em;
}

#contact form {
  width: 80%;
  margin-left: 10%;
  margin-top: 2em;
}

#contact input,
#contact textarea {
  width: 95%;
  border-radius: 5px;
  border-color: #1b2355;
  border-width: 1px;
}

#contact textarea {
  margin-top: 3em;
}

#contact label,
#contact input {
  display: block;
}

#contact input[type="submit"] {
  background-color: #f66464;
  border-radius: 5px;
  border-style: solid;
  border-color: #f66464;
  margin-top: 1em;
  margin-bottom: 9em;
}

#contact input[type="submit"]:active {
  background-color: #c33f3f;
  border-color: #e79294;
}

aside#social {
  height: 50px;
  text-align: center;
  margin-top: 15px;
}

aside#social a {
  text-decoration: none;
}

}

  /******************************************************/
  /*MEDIA QUERIES*/
  /******************************************************
  NAVIGATION
  ******************************************************/
  @media only screen and (min-width: 700px) {
    body {
      background-color: rgb(230, 230, 230);
    }

    #contact input[type="submit"] {
      background-color: #f66464;
      border-radius: 5px;
      border-style: solid;
      border-color: #f66464;
      margin-top: 1em;
      margin-bottom: 27em;
    }

/******************************************************
  PROJECTS
  ******************************************************/
  #projects p {
    text-align: center;
    padding: 0 10em;
  }

  div.iron-man {
    width: 40%;
    margin: 0 auto;
    background-image: url(./images/IronMan.jpg);
  }

  .phoenix {
    width: 40%;
    margin: 0 auto;
    background-image: url(./images/Phoenix.jpg);
  }

  .storm {
    width: 40%;
    margin: 0 auto;
    background-image: url(./images/Storm.jpg);
  }

  .gambit {
    width: 40%;
    margin: 0 auto;
    background-image: url(./images/Gambit.jpg);
}
/******************************************************
RESUME
******************************************************/
  #resume  {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
  }

  table {
    font-size: 2em;
    padding: 1em;
  }

  td {
    padding: .5em;
  }

  ul i {
    font-size: 50px
  }

  ul {
    display: flex;
    justify-content: center;
  }

  .image-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
  }

  .image-container img {
    margin-left: 3.4em;
  }

  footer span {
    margin-right: -6em;
  }

  footer span i {
    margin-top: .25em;
    font-size: 3em;
    color: white;
  }

}

@media only screen and (min-width: 1080px) {
  body {
    background-color: rgb(230, 230, 230);
  }

  .profile-pic {
    height: auto;
    width: 20%;
    margin-left: .5em;
    border-radius: 2%;
    border: 2.25px solid black;
    margin-top: .5em;
  }
}
